{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Language Identifier</h1>
</div>

{{ wtf.quick_form(form) }}
<p>Supported languages are: <i>en, sv, de, fr, nl, ru, it, es, pl, vi, pt, uk, fa, sco</i></p>
<p><b>The Phrase is: </b><i>{% if phrase %}{{ phrase }}{% else %}____{% endif %}</i></p>
<p><b>The Language is: </b><i>{% if language %}{{ language }}{% else %}____{% endif %}</i></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>API</h4>
<p><i>curl https://language-classifier-app.herokuapp.com/identify -d "data=Le commerce n'est pas un monstre et la publicité" -X GET</i></p>
{% endblock %}
